# Keycloak
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=changeit
KC_HOSTNAME=https://keycloak.example.com

# Keycloak Realm
KC_REALM=pai_realm

# Keycloak Client
KC_CLIENT_ID=pai-client
KC_CLIENT_NAME=PAI Client

# Keycloak Test User
KC_TEST_USERNAME=testuser
KC_TEST_PASSWORD=testPass@123!
KC_TEST_FIRSTNAME=Tom
KC_TEST_LASTNAME=Cruise

# PostgreSQL
PG_USERNAME=keycloak
PG_PASSWORD=changeit
PG_HOST=postgres
PG_PORT=5432

# Nacos
NACOS_AUTH_TOKEN=VGhpc0lzTXlDdXN0b21TZWNyZXRLZXkwMTIzNDU2Nzg=
NACOS_AUTH_USERNAME=nacos
NACOS_AUTH_PASSWORD=changeit
NACOS_NAMESPACE_ID=public
NACOS_GROUP=DEFAULT_GROUP